<h1>Restaurants#index</h1>
<p>Find me in app/views/restaurants/index.html.erb</p>


<%= link_to "new", new_restaurant_path, class: "btn btn-primary" %>


<% @restaurants.each do |restaurant| %>
<%= link_to "Edit", edit_restaurant_path(restaurant), class: "btn btn-danger"  %>
<%= link_to "Show", restaurant_path(restaurant), class: "btn btn-danger"  %>
  <h2><%= restaurant.name %></h2>
<div class="btn-group" role="group" aria-label="Basic example">
<%= link_to "Edit", edit_restaurant_path(restaurant), class: "btn btn-primary"  %>
<%= link_to "Show", restaurant_path(restaurant), class: "btn btn-danger"  %>
  <%= link_to "Delete" , restaurant_path(restaurant),
      method: :delete, class: "btn btn-warning",
      data: { confirm: "Are you sure?" } %>
     </div>
<% end %>
